body{
  background-color: #e17cf3;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 12;
  font-style: normal;
}

#manhattan line {
  stroke: gold;
}

#manhattan circle {
  fill: gold;
}

#manhattan:hover line {
  stroke: goldenrod;
  stroke-width: 4;
}

#brooklyn line {
  stroke: teal;
}

#brooklyn circle {
  fill: teal;
}

#brooklyn:hover line {
  stroke: turquoise;
  stroke-width: 4;
}

#the-bronx line {
  stroke: blue;
}

#the-bronx circle {
  fill: blue;
}

#the-bronx:hover line {
  stroke: lightblue;
  stroke-width: 4;
}

#staten-island line {
  stroke: forestgreen;
}

#staten-island circle {
  fill: forestgreen;
}

#staten-island:hover line {
  stroke: rgb(122, 192, 122);
  stroke-width: 4;
}

#queens line {
  stroke: palevioletred;
}

#queens circle {
  fill: palevioletred;
}

#queens:hover line {
  stroke: pink;
  stroke-width: 4;
}

#total line {
  stroke: black;
}

#total circle {
  fill: black;
}

#total:hover line {
  stroke: darkgrey;
  stroke-width: 4;
}

#outside line {
  stroke: yellow;
}

#outside circle {
  fill: yellow;
}

#outside:hover line {
  stroke: palegoldenrod;
  stroke-width: 4;
}

#nyc-map svg {
  width: 600px;   
  height: auto;
  display: block;
}

svg{
  border-style: solid;
  border-width: 1px;
}