{% extends "base.html" %}

{% block title %}Micro Page{% endblock %}

{% block content %}
  <h1>Micro View</h1>
{% endblock %}
<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
  <title>Abuse per district - {{ year }}</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Abuse per district - {{ year }}</h1>
  <div id="north_america">
    {% include 'NYC_boroughs.svg' %}
  </div>
  
  <div class="data-display"></div>


</body>
</html>